@model Ret.ServiceModel
@{
    Layout = "~/Views/Shared/_admin.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.2.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/AjaxModules.js"></script>

<script type="text/javascript">
    SetInputNumericIndian('ServiceCharge');
    SetInputNumericIndian('Charge');   
    function FormValidation() {
        RemoveIndianCulture("ServiceCharge");
        RemoveIndianCulture("Charge");       
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        // check box
        $('#GSTInclusive').change(function () {
            if ($(this).is(":checked")) {
                // get GST Slab value
                var gstid = $('#GSTSlabID').val();

                if (gstid == "") {
                    alert("Please select GST percent");
                }
                else {
                    // Call Ajax method
                    var gst = GetPercent(gstid);
                    var p = $('#ServiceCharge').val();
                    p = ClearCulture(p);                   
                    var r = parseFloat(p) * 100 / parseFloat(gst);
                    r = ConvertToIndian(r);
                    $('#ServiceCharge').val(r);
                }
            }
            else {
                $('#ServiceCharge').val($('#Charge').val());
            }
        });

        $("#Charge").blur(function () {
            var charge = $('#Charge').val();            
            //charge = ConvertToIndian(charge);
            $('#ServiceCharge').val(charge);
        });
    });
    function GetPercent(id) {
        var gst = 0;
        $.ajax({
            type: "POST",
            async: false,
            url: '/Product/GetGSTPercent',
            data: "{'ID': '" + id + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                gst = response;
            },
            failure: function (response) {
                alert(response);
            }
        });
        return gst;
    }
</script>

<div class="page-header animated bounceInRight">
    <div class="card">
        <div class="card-block bg-primary">
            <div class="row ">
                <div class="col-lg-4">
                    <h5 class="text-uppercase font-weight-bold">New Service</h5>
                </div>
                <div class="col-lg-8 align-items-end">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "Dashboard")"> <i class="icofont icofont-home" style="color:white"></i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "Service")" style="color:white">Home / Masters / New Service</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated bounceInUp">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9 col-9"><h3>@ViewData["PageTitle"]</h3></div>
                    <div class="col-md-3 col-3">
                        <a href="@Url.Action("Index", "Service")" class="btn btn-primary btn-outline-primary float-right">
                            <i class="icofont icofont-user-alt-3"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-block">

                @using (Html.BeginForm("Create", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <h4 class="sub-title">Service Info</h4>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.ServiceName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ServiceName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.CategoryID,
                             Ret.ProductController.GetCategoryList(), new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.GroupID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.GroupID,
                             Ret.ProductController.GetGroupList(), new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.GroupID, "", new { @class = "text-danger" })
                        </div>
                    </div>                    
                    <div class="form-group row">
                        @Html.LabelFor(model => model.UnitID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.UnitID,
                             Ret.ProductController.GetUnitList(), new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.GSTSlabID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.GSTSlabID,
                             Ret.ProductController.GetGSTSlabList(), new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.GSTSlabID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <h4 class="sub-title">Service Pricing</h4>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.ServiceCharge, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Charge, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Charge, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ServiceCharge, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.ServiceCharge, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.GSTInclusive, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>@Html.CheckBoxFor(model => model.GSTInclusive)&nbsp;Yes</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.GSTInclusive, "", new { @class = "text-danger" })
                        </div>
                    </div>                    

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="submit" value="Create" onclick="FormValidation();" class="btn btn-primary btn-out float-right" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



