@{      
    Layout = null;
    int id = Convert.ToInt32(ViewData["id"].ToString());
    Ret.dbContext db = new Ret.dbContext();
    var drSale = db.SalesModels.Where(x => x.SalesID == id).SingleOrDefault();
    var drCompany = db.CompanyModels.Where(x => x.CompanyID == 1).SingleOrDefault();
    var drCustomer = db.CustomerModels.Where(x => x.CustomerID == drSale.CustomerID).SingleOrDefault();
    // using join 
    var saleTrans = db.SalesTransModels.Where(x => x.SalesID == drSale.SalesID).ToList();    
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Sales</title>
    <meta name="description" content="Dreaming Desire">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Basic Style Sheet -->   
    <link href="Common/bootstrap.min.css" rel="stylesheet" />
    <link href="Common/font-awesome.min.css" rel="stylesheet" />
    <title>Print Quotation</title>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <header>
                <div class="row" style="margin-top:15px;">
                    <div class="col-md-3">                       
                        <img src="@drCompany.CompanyPicture" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-right">@drCompany.CompanyName</h3>
                        <p class="text-right">
                            Add: @drCompany.CompanyAddress,
                            <br /> Email: @drCompany.CompanyEmail,
                            <br /> Mob: @drCompany.CompanyMobile
                        </p>
                    </div>
                </div>
            </header>
            <section style="margin-top: 30px;">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <div class="text-gray-light">INVOICE TO:</div>
                        <h3>@drCustomer.CustomerName</h3>
                        <div>@drCustomer.Address</div>
                        <div>Mobile: @drCustomer.Mobile</div>
                        <div>Email : @drCustomer.Email</div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-right">INVOICE</h2>
                        <h6 class="text-right"><b>Invoice No: Inv/@drCompany.InvoicePrefix/@drSale.SerialNo</b></h6>
                        <p class="text-right">
                            <b>Inv. Date: @Ret.TextLib.GetDateDDMMYYYY(drSale.SalesDate)</b> <br />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <br />
                        <h4 class="text-center">INVOICE DETAILS</h4>
                        <br />
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SrNo</th>
                                    <th class="text-left">DESCRIPTION WORK</th>
                                    <th class="text-right">QTY</th>
                                    <th class="text-right">UNIT</th>
                                    <th class="text-right">RATE</th>
                                    <th class="text-right">AMOUNT</th>
                                    <th class="text-right">GST %</th>
                                    <th class="text-right">GST AMOUNT</th>
                                    <th class="text-right">TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    double totalamount = 0;
                                    double totalgst = 0;
                                    double total = 0;
                                    int counter = 0;

                                    foreach (var item in saleTrans)
                                    {                                        
                                        counter = counter + 1;
                                        <tr>
                                            <td>@counter</td>
                                            <td>@Ret.DataLib.GetCellItems("Select ProductName From ProductModels Where ProductID =" + item.ProductID) </td>
                                            <td class="text-right">@item.Quantity</td>
                                            <td class="text-right">@Ret.DataLib.GetCellItems("Select UnitName From UnitModels Where UnitID=" + item.UnitID)</td>
                                            <td class="text-right">@Ret.TextLib.IndianRuppes(item.Rate)</td>
                                            <td class="text-right">@Ret.TextLib.IndianRuppes(item.Amount)</td>
                                            <td class="text-right">@item.GSTSlab</td>
                                            <td class="text-right">@Ret.TextLib.IndianRuppes(item.GSTAmount)</td>
                                            <td class="text-right">@Ret.TextLib.IndianRuppes(item.Amount + item.GSTAmount)</td>
                                        </tr>
                                        totalamount = totalamount + item.Amount;
                                        totalgst = totalgst + item.GSTAmount;
                                        total = totalamount + totalgst;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-right"><b>TOTAL</b></td>
                                    <td class="text-right"><b>@Ret.TextLib.IndianRuppes(totalamount)</b></td>
                                    <td></td>
                                    <td class="text-right"><b>@Ret.TextLib.IndianRuppes(totalgst)</b></td>
                                    <td class="text-right"><b>@Ret.TextLib.IndianRuppes(total)</b></td>
                                </tr>
                                <tr>
                                    <td colspan="9" class="text-right"><b>In Words :@Ret.TextLib.NumbertoWards(total.ToString())</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="text-right" style="margin-top: 100px;">Thank you!</div>
                <br />
                <div class="notices">
                    <p>NOTICE:</p>
                    <p class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
                    <br />
                    <br />
                    <p class="text-right">Submitted By</p>
                    <br />
                    <br />
                    <p align="right" style="color: black">@drCompany.OnwerName </p>
                    <p align="right" style="color: black"><b>@drCompany.CompanyName </b></p>
                </div>
                <hr />
                <div>
                    Payment In favor of :,<br />
                    Name : <b> @drCompany.BeneficiaryName </b>
                    <br />
                    Bank : <b> @drCompany.BankName </b>
                    <br />
                    Branch : <b>@drCompany.BranchName </b>
                    <br />
                    A/c Number: <b> @drCompany.AccountNumber </b>
                    <br />
                    A/c Type: <b> @drCompany.AccountType </b>
                    <br />
                    IFSC Code : <b> @drCompany.AccountIFSCCode </b>
                    <br />
                </div>
            </section>
            <footer>
                <hr />
                <p class="text-center">This invoice was created on a computer and is valid without the signature and seal.</p>
            </footer>
        </div>
    </form>
</body>
</html>
