<h4 class="sub-title">Client</h4>
<div class="form-group row">
    @Html.Label("", "Client Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBox("CustomerName", null, new { placeholder = "Customer Name", @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    @Html.Label("", "Address", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextArea("Address", null, new { placeholder = "Address", @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    @Html.Label("", "State", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.TextBox("State", null, new { placeholder = "State", @class = "form-control" })
    </div>
    @Html.Label("", "City", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.TextBox("City", null, new { placeholder = "City", @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    @Html.Label("", "Mobile", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.TextBox("Mobile", null, new { placeholder = "Mobile", @class = "form-control" })
    </div>
    @Html.Label("", "WhatsApp", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.TextBox("WhatsApp", null, new { placeholder = "Whatsup", @class = "form-control" })
    </div>
</div>
<div class="form-group row">

    @Html.Label("", "Profession", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownList("ProfessionID", Ret.ShareController.GetProfessionList(), new { @class = "form-control" })
    </div>
    @Html.Label("", "GST No", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.TextBox("GSTNo", null, new { placeholder = "GST No", @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    @Html.Label("", "Email", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBox("Email", null, new { placeholder = "Email", @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <input type="button" value="Close" onclick="closeCustomer();" class="btn btn-danger btn-sm float-right" style="margin-right:5px;" />
        <input type="button" value="Clear" onclick="clearCustomer();" class="btn btn-success btn-sm float-right" style="margin-right:5px;" />
        <input type="button" value="New Customer" onclick="newCustomer();" class="btn btn-primary btn-sm float-right" style="margin-right:5px;" />
    </div>
</div>
